* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    border: none;
}

ol,
ul,
li {
    list-style-type: none
}

.clear {
    clear: both
}


/* 段落样式 */

.content-text {
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-weight: 500;
    margin: 15px 10px;
    padding: 0pt;
    line-height: 2em;
    text-indent: 2em;
}


/*头部*/

.h_top {
    width: 100%;
    height: 25px;
    line-height: 25px;
    background: #565656;
    min-width: 1200px;
}

.h_top .h_top_m {
    width: 1200px;
    margin: 0px auto;
    height: 25px;
    line-height: 25px;
    text-align: right;
    color: #FFF;
}

.h_top .h_top_m a {
    font-size: 12px;
    color: #FFF;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
}

.h_top .h_top_m a:hover {
    text-decoration: underline;
}

.h_top .h_top_m span {
    display: inline-block;
    *display: inline;
    zoom: 1;
    height: 16px;
    line-height: 16px;
    background: url(http://51100plus.com/templates/yibaijia/images/tel_ico.png) no-repeat left center;
    padding-left: 20px;
    vertical-align: top;
    margin-top: 4px;
    margin-right: 10px;
}

.h_top .h_top_m span i {
    font-size: 14px;
}

.h_top .h_top_m span img {
    width: 150px;
    height: 16px;
    vertical-align: top;
}

.header {
    width: 100%;
    height: 110px;
    margin: 0px auto;
    background: url(http://51100plus.com/templates/yibaijia/images/head_bg.jpg) repeat;
    min-width: 1000px;
}

.header .head_m {
    width: 1200px;
    margin: 0px auto;
    height: 110px;
    position: relative;
}

.header .logo {
    width: 310px;
    float: left;
    margin-left: 10px;
    margin-top: 6px;
}

.header .logo img {
    width: 100%;
}

.header .timnt {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 155px;
    float: right;
    font-size: 13px;
    margin-top: 30px;
    color: #666;
    padding-left: 44px;
    background: url(http://www.51100plus.com/templates/yibaijia/images/h_pho.png) no-repeat left;
    line-height: 20px;
}

.header .timnt p {
    font-size: 20px;
    font-weight: 400;
    color: #000;
}

.header .nav {
    width: 600px;
    height: 100%;
    position: absolute;
    left: 360px;
    top: 0px;
    text-align: right;
}

.header .nav li {
    width: 135px;
    height: 100%;
    float: left;
    text-align: center;
}

.header .nav li a {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    width: 100%;
    height: 50px;
    display: block;
    padding-top: 40px;
}

.header .nav li.now,
.header .nav li:hover {
    background: #0e88dd;
}

.header .nav li.now a,
.header .nav li:hover a {
    color: #FFF;
}

.yellow {
    color: #C1A50D;
}


/*底部*/

.foot {
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
    border-top: 1px solid #ccc;
}

.foot .foot_m {
    width: 1200px;
    margin: 0px auto;
    position: relative;
    padding-bottom: 30px;
}

.foot .foot_m1 {
    width: 300px;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}

.foot .foot_m1 ul {
    width: 120px;
    float: left;
}

.foot .foot_m1 ul li {
    float: left;
    margin: 1px 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.foot .foot_m1 ul li a {
    float: left;
    font-size: 15px;
    line-height: 25px;
}

.foot .foot_m1 ul li a:hover {
    color: #7c0d85;
}

.foot .fod {
    width: 100%;
    font-size: 18px !important;
    color: #000;
    margin-bottom: 5px;
}

.foot_m2 {
    width: 520px;
    float: left;
    margin-top: 30px;
}

.foot_m2 span {
    width: 100%;
    float: left;
    font-size: 15px;
    color: #333;
    line-height: 25px;
    height: 25px;
    margin-bottom: 5px;
    padding-left: 6%;
    width: 94%;
}

.foot_m2 #sp1 {
    width: 100%;
    font-size: 20px;
    color: #000;
    letter-spacing: 1px;
    padding-left: 0%;
    width: 100%;
    margin-bottom: 10px;
}

.foot_m2 #sp2 {
    background: url(http://51100plus.com/templates/yibaijia/images/icon3.png) no-repeat left;
}

.foot_m2 #sp3 {
    background: url(http://51100plus.com/templates/yibaijia/images/icon4.png) no-repeat left;
}

.foot_m2 #sp4 {
    background: url(http://51100plus.com/templates/yibaijia/images/icon5.png) no-repeat left;
}

.foot_m3 {
    width: 180px;
    float: right;
    margin-top: 25px;
    margin-right: 35px;
    text-align: center;
}

.foot_m3 img {
    width: 70%;
    margin-top: 5px;
}

.foot_m3 span {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    color: #333;
    font-weight: 500;
}

.copyright {
    width: 100%;
    min-width: 1200px;
    overflow: hidden;
    height: 80px;
    background: #333;
    text-align: center;
    line-height: 80px;
    color: #eee;
    font-size: 15px;
}

.copyright a {
    color: #eee;
    font-size: 15px;
}


/*底部*/


/*幻灯片*/

.banner {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
    min-width: 1200px;
}

.b-img {
    height: 600px;
    position: absolute;
    left: 0;
    top: 0;
}

.b-img a {
    display: block;
    height: 600px;
    float: left;
    width: 100%;
}

.b-list {
    height: 30px;
    position: relative;
    margin: 0 auto;
    margin-top: 560px;
    z-index: 1;
}

.b-list span {
    display: block;
    cursor: pointer;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #fff;
    float: left;
    margin: 0 5px;
    _margin: 0 3px;
}

.b-list .spcss {
    background: #0e88dd;
}

.bar-left {
    position: absolute;
    z-index: 1;
    display: block;
    width: 50px;
    height: 100px;
    left: 10px;
    background: none;
    top: 250px;
}

.bar-right {
    position: absolute;
    z-index: 1;
    display: block;
    width: 50px;
    height: 100px;
    right: 10px;
    background: none;
    top: 250px;
}

.bar-left em {
    display: block;
    width: 50px;
    height: 100px;
    background: url(http://51100plus.com/templates/yibaijia/images/arrow.png) 0px 0px no-repeat;
    margin: 0 auto;
    margin-top: 0px;
}

.bar-right em {
    display: block;
    width: 50px;
    height: 100px;
    background: url(http://51100plus.com/templates/yibaijia/images/arrow.png) -50px 0px no-repeat;
    margin: 0 auto;
    margin-top: 0px;
}

.bar-left .emcss {
    background-position: 0px -100px;
}

.bar-right .emcss {
    background-position: -50px -100px;
}

@media screen and (max-width: 1400px) {
    .banner {
        height: 427px;
    }
    .b-img {
        height: 427px;
    }
    .b-img a {
        height: 427px;
    }
    .b-list {
        margin-top: 360px;
    }
    .bar-left {
        background: none;
        top: 150px;
    }
    .bar-right {
        background: none;
        top: 150px;
    }
}


/*幻灯片*/


/*主体盒子*/

.wrap {
    width: 1200px;
    margin: 0px auto;
}

.wrap h1 {
    width: 100%;
    height: 90px;
    margin: 50px 0;
    font-size: 42px;
    line-height: 90px;
    font-weight: 500;
    color: #9c4141;
    letter-spacing: 2px;
    text-align: center;
}

.wrap .box_m {
    width: 100%;
    margin: 0px auto;
}

.wrap .box_m li {
    width: 400px;
    float: left;
    margin-right: 0px;
    text-align: center;
    padding: 20px 0;
    height: 340px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrap .box_m li.mstd {
    margin-right: 0px;
}

.wrap .box_m .box_h {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 14px;
    font-family: "微软雅黑"
}

.wrap .box_m .box_h span {
    margin-left: 5px;
}

.wrap .box_m .box_body {
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    border: 4px solid #ccc;
}

.wrap .box_m li h3 {
    font-weight: 100;
    width: 80%;
    line-height: 40px;
    font-size: 20px;
    margin: 15px 10%;
    border-bottom: 2px solid #ccc;
    color: #333;
}

.wrap .box_m .box_body img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.wrap .box_m li span {
    width: 80%;
    overflow: hidden;
    padding: 2px 10%;
    display: block;
    font-size: 22px;
}


/*.wrap .box_m li:hover{background: #7c0d85;margin-top: -3px;}
.wrap .box_m li:hover h3{color: #fff;}
.wrap .box_m li:hover span{color: #fff;}*/

#yty {
    margin: 80px 0;
}

.wrapto {
    width: 1200px;
    margin: 5px auto 30px;
}

.wrapto1 {
    width: 400px;
    height: 440px;
    float: left;
    margin: 0 95px;
    margin-bottom: 80px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
}

.wraptof {
    width: 278px;
    float: left;
}

.wrapto1 img {
    width: 100%;
    height: 260px;
}

.sfpf {
    width: 100%;
    height: 180px;
    background: #fff;
    position: absolute;
    top: 260px;
    left: 0;
    z-index: 1;
}

.sfpf h2 {
    width: 90%;
    height: 40px;
    margin: 10px 5%;
    text-align: center;
    font-weight: 100;
    border-bottom: 1px dotted #7c0d85;
    font-size: 20px;
    color: #333;
    line-height: 40px;
}

.sfpf span {
    width: 90%;
    height: 75px;
    margin: 25px 5%;
    line-height: 25px;
    display: block;
    font-size: 14px;
    color: #6f6f6f;
    overflow: hidden;
}

.sfpp {
    width: 100%;
    height: 100%;
    background: url(http://51100plus.com/templates/yibaijia/images/fk.png) repeat;
    position: absolute;
    top: 0;
    left: -400px;
    z-index: 2;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sfpp h3 {
    width: 60%;
    height: 50px;
    margin: 0 20%;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
    border-bottom: 1px solid #bfc0c0;
    color: #fff;
    font-size: 20px;
}

.sfpp p {
    width: 80%;
    margin: 0 10%;
    margin-top: 15px;
    font-size: 15px;
    color: #fff;
    line-height: 30px;
}

.sfpp span {
    color: White;
}

.wrapto1:hover .sfpp {
    left: 0;
}

.about-content {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 70px;
    overflow: hidden;
}

.about-banner {
    text-align: center;
    margin-bottom: 20px;
    min-width: 1200px;
}

.about-banner>img {
    width: 100%;
}

.sidebar-item {
    display: block;
    height: 48px;
    line-height: 48px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #fadbdf;
    position: relative;
    font-size: 19px;
}

.about-sidebar a:before {
    content: ">";
    position: absolute;
    right: 20px;
    top: -2px;
    visibility: hidden;
}

.active {
    color: #f60;
}

.active:before {
    visibility: visible;
}

.about-sidebar {
    border: 1px solid #fadbdf;
    width: 180px;
    background: url(http://51100plus.com/templates/yibaijia/images/flower.jpg) no-repeat 100% 100%;
    float: left;
    padding-bottom: 140px;
}

.active:before {
    display: block;
}

.details {
    padding: 10px 20px;
    border: 1px solid #efefef;
    width: 767px;
    float: right;
}

.title {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    border-bottom: 1px solid #efefef;
    padding-bottom: 16px;
    margin-bottom: 20px;
    color: #333;
    padding-top: 6px;
}

.about-description p {
    text-indent: 2em;
    margin-bottom: 10px;
    line-height: 25px;
    font-size: 14px;
}

.footer-wrapper {
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 14px;
    color: #333;
    border-top: 1px solid #eaeaea;
    margin-top: 30px;
    min-width: 960px;
    box-sizing: border-box;
    padding: 40px;
}

.footer-content {
    width: 960px;
    margin: 0 auto;
}

.footer-links {
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    float: left;
    margin-top: 3px;
}

.footer-links a:first-child {
    border-left: none;
    padding-left: 0;
}

.footer-links a {
    border-left: 1px solid #bababa;
    padding: 0 20px;
    text-decoration: none;
    color: #333;
    float: left;
}

.footer-copy {
    float: right;
    line-height: 20px;
    padding-top: 1px;
}

.footer-icp {
    color: #818181;
}

.adv_tit {
    height: 140px;
    line-height: 140px;
    font-size: 42px;
    text-align: center;
}

.feature-content {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.feature-content h1 {
    width: 100%;
    height: 90px;
    margin: 50px 0;
    font-size: 40px;
    line-height: 90px;
    font-weight: 100;
    color: #000;
    letter-spacing: 2px;
    text-align: center;
}

.feature-content li {
    width: 350px;
    height: 480px;
    float: left;
    margin-right: 0px;
    text-align: center;
    margin: 0 20px 50px 20px;
    ;
    padding: 4px;
    border: 1px solid #999;
}

.img-wrapper {
    width: 100%;
    height: 288px;
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.content-item h3 {
    font-weight: 600;
    width: 80%;
    height: 50px;
    line-height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 22px;
    margin: 10px 10%;
    border-bottom: 1px solid #ccc;
    color: #333;
}

.content-item span {
    width: 80%;
    overflow: hidden;
    padding: 5px 10%;
    display: block;
    font-size: 18px;
}

.system-content {
    width: 1200px;
    padding-top: 15px;
    margin: 0 auto;
}

.system-title {
    height: 160px;
    line-height: 160px;
    font-size: 42px;
    text-align: center;
}

.system_c {
    padding-top: 28px;
}

.system_c dl {
    width: 360px;
    height: 660px;
    display: block;
    float: left;
    text-align: center;
    margin: 20px;
    position: relative;
    overflow: hidden;
}


/*二维码展示*/

.system_c dl div {
    width: 360px;
    height: 240px;
    float: left;
    text-align: center;
    /*background: url('http://www.51100plus.com/templates/yibaijia/images/fk.png') repeat;*/
    position: absolute;
    top: 380px;
    left: 0px;
}

.system_c dl div img {
    width: 250px;
    margin-top: 20px;
}

.system_c dl div h4 {
    width: 80%;
    margin: 10px 10%;
    color: #fff;
}


/*鼠标悬停*/


/*.system_c dl:hover div{
    left: 0px;
}*/

.system_c dl dt {
    width: 100%;
    height: 243px;
    padding-bottom: 10px;
}

.system_c dl dt img {
    vertical-align: top;
    border-radius: 50%;
}

.t1 {
    height: 62px;
    line-height: 62px;
    font-size: 22px;
    color: #000;
}

.t2 {
    font-size: 15px;
    color: #161823;
    line-height: 24px;
    text-align: left;
}

dd {
    list-style-type: none;
    display: block;
}

.clear {
    width: 0;
    line-height: 0;
    font-size: 0;
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


/*主体盒子*/


/*二级页面*/